body {
  font-family: 'Proxima Nova Light' , sans-serif;
  color: $text-color;
}
.button-o {
  border: 2px solid $primary;
  padding: 17px 22px;
  font-size: 12px;
  text-transform: uppercase;
  color: $primary;
  @include bold;
}
.button {
  padding: 25px 45px;
  text-transform: uppercase;
  border: none;
  background-color: $primary;
  color:white;
  @include bold;
}