* {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Light";
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Proxima Nova Light", sans-serif;
  color: #262626;
}

.button-o {
  border: 2px solid #507fe1;
  padding: 17px 22px;
  font-size: 12px;
  text-transform: uppercase;
  color: #507fe1;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.button {
  padding: 25px 45px;
  text-transform: uppercase;
  border: none;
  background-color: #507fe1;
  color: white;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
}
.navbar-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  padding: 0 100px;
}
.navbar__mobile, .navbar__landline {
  text-align: right;
}
.navbar__phone {
  display: block;
  font-size: 19px;
  font-family: "Proxima Nova Semibold", sans-serif;
  color: #262626;
  margin-bottom: 5px;
}
.navbar__small-text {
  display: block;
  font-size: 14px;
  color: #6b6b6b;
  text-decoration: none;
}

.menu {
  z-index: -1;
  width: 100%;
  position: fixed;
  top: 80px;
  left: 0;
  padding: 16px 0;
  background-color: #507fe1;
  color: black;
  transform: translateY(-100%);
}
.menu_active {
  transform: translateY(0);
}
.menu__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__link {
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: white;
}
.menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
}
.menu-button__line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #507fe1;
  margin: 2px 0;
}

.logo__text {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.logo__description {
  display: block;
  font-size: 14px;
  color: #6b6b6b;
  margin-bottom: 5px;
}

.hero {
  background: #f1f1f1 url("../img/hero/hero.jpg") no-repeat center top 80px;
  background-size: contain;
  padding-top: 180px;
  padding-bottom: 270px;
}
.hero__title {
  font-size: 30px;
  margin-bottom: 40px;
}
.hero__subtitle {
  display: block;
  font-size: 30px;
  font-family: "Proxima Nova Semibold", sans-serif;
  margin-bottom: 67px;
}

/*# sourceMappingURL=style.css.map */
